@charset "UTF-8";

/* ↓↓ fv 他ページ共通 コピペして画像を変更する ↓↓ */

.recruit-top-wrap__bg {
  background: url(../img/5-1.recruit-top.jpg) no-repeat center;
  background-size: cover;
  /* 元画像の縦横比は保持し、要素をちょうどよく覆うサイズに */
  width: 89%;
  height: 70vh;
  position: relative;
  object-fit: cover;
}

.recruit-top-wrap__inner {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.fv-ttl {
  background-color: #fff;
  font-size: 6rem;
  line-height: 1.3;
  padding: 2rem 7rem;
}

/* ↑↑ fv 他ページ共通 コピペして画像を変更する ↑↑ */

.recruit-mess {
  background-color: #F2F2ED;
}

.recruit-mess-wrap {
  width: 80%;
  margin:  auto;
  padding: 10rem 0;
}

.recruit-mess-wrap__block1 {
  text-align: center;
  padding-bottom: 6.7rem;
}

.recruit-mess-wrap__block2 {
  display: flex;
  justify-content: space-between;
}

.recruit-mess-wrap__block2__img {
  width: 45%;
  height: 35vh;
}

.recruit-mess-wrap__block2__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recruit-mess-wrap__block2__txt {
  width: 45%;
  display: flex;
  flex-direction: column;
  color: #333;
}

.recruit-mess-wrap__block2__txt_1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 6.7rem;
}

.recruit-mess-wrap__block2__txt_2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}


/* 3 recruit-staff */

.recruit-staff-wrap {
  margin: 10rem auto;
  width: 80%;
}



/* ↓↓ ボタン 他ページ共通 ↓↓ */

.work-block-wrap__btn {
  display: flex;
  justify-content: center;
}

.work-block-wrap__btn__1 {
  background: #76706A;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 9rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.work-block-wrap__btn__1:hover {
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: none;
  transform: scale(0.99, 0.99) translateY(2px);
}


.work-block-wrap__btn__1:last-child {
  margin-right: 0;
}

.work-block-wrap__btn__1 a {
  color: #fff;
}

/* ↑↑ ボタン 他ページ共通 ↑↑ */


/* 社員紹介 */

.recruit-staff-wrap__intro {
  margin: 10rem 0;
}

.recruit-staff-wrap__intro__ttl {
  text-align: center;
  padding-bottom: 6.7rem;
}

.recruit-staff-wrap__intro__img {
  display: flex;
  justify-content: space-evenly;
}

.recruit-staff-wrap__intro__img__list {
  position: relative;
  background: url(../img/5-3.staff-img.jpg) center center no-repeat;
  background-size: cover;
  width: 30rem;
  height: 40vh;
}

.recruit-staff-wrap__intro__img__list__info {
  position: absolute;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.6);
  color: #fff;
  width: 90%;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.staff__info1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}

.staff__info2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.staff__info3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}


/* 募集要項 */

.recruit-staff-wrap__guide {
  width: 67%;
  margin: 0 auto;
}

.recruit-staff-wrap__guide__list {
  display: flex;
  flex-direction: column;
}

.recruit-staff-wrap__guide__list__item {
  display: flex;
  align-items: center;
  border-bottom: dotted #333 0.5px;
}

.guide__list__left {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  padding: 1rem 2rem;
  width: 20rem;
  height: 9.8rem;
  display: flex;
  align-items: center;
  color: #333;
}

.guide__list__right {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  width: 57.5rem;
  height: 9.8rem;
  display: flex;
  align-items: center;
  color: #333;
}



.recruit-app {
  background-color: #F2F2F2;
  padding: 14rem 0;
}

.recruit-app-wrap__txt {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 3rem;
}


/*ボタン*/

.recruit-app-wrap__btn {
  background-color: #76706A;
  width: 30rem;
  line-height: 3;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.recruit-app-wrap__btn a {
  display: block;
  color: #fff;
  font-size: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.recruit-app-wrap__btn:hover {
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: none;
  transform: scale(0.99, 0.99) translateY(2px);
}